.divAboutMe{
    text-align: center;
    font-family: monospace;
    /* background-color: red; */
    /* height: 1000px; */
}

.aboutMeTitle{
    font-size: 2.8em;
}

.aboutMeFlexDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* overflow: hidden; */
}

.firstParagraphDiv{
    width: 500px;
    margin-top: 50px;
    /* margin-left: 5%; */
    /* border: 1px solid black; */
}

.firstParagraph{
    width: 500px;
    font-size: 1.2em;
}

.firstImgDiv{
    width: 500px;
    margin-top: 65px;
}

.secondParagraphDiv{
    margin-top: 50px;
}

.secondParagraph{
    width: 500px;
    font-size: 1.2em;
}

.secondImgDiv{
    width: 500px;
    margin-top: 75px;
}

.secondImage{
    border-radius: 50%;
    width: 400px;
}

@media screen and (max-width:540px) {
    .firstParagraph{
        width: 90vw;
    }
    .secondParagraph{
        width: 90vw;
    }
}

@media screen and (max-width:1075px) {
    .firstImgDiv{
        display: none;
    }
}

.vline{
    border-left: 3px solid #E42929;
    height: 60%;
    left: 50%;
    position: absolute;
    z-index: 1;
}

@media screen and (max-width:1200px){
    .vline{
        display: none;
    }
}