.container {
  padding: 0 2rem;
}

.divMe{
  display: grid;
  place-items: center;
  font-family: monospace;
}

.divMe h1{
  font-size: 3em;
}

.divMe h3{
  font-size: 2em;
}

.divTypewriter{
  text-align: center;
}

.pTypewriter{
  font-size: 1.5em;
}