.container {
  padding: 0 2rem;
  color: white;
}

.vline {
  border-left: 3px solid #e42929;
  height: 100px;
  left: 50%;
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .vline {
    visibility: hidden;
  }
}

@media screen and (max-width: 330px) {
  .vline {
    visibility: hidden;
  }
}

.vline2 {
  border-right: 3px solid #e42929;
  height: 100px;
  left: 50%;
  display: grid;
  place-items: center;
  width: 50%;
}

.vline3 {
  border-right: 3px solid #e42929;
  height: 100px;
  left: 50%;
  display: grid;
  place-items: center;
  width: 50%;
  height: 50px;
}

.vline4 {
  border-right: 3px solid #e42929;
  height: 100px;
  left: 50%;
  display: grid;
  place-items: center;
  width: 50%;
  height: 100px;
}

.divMe {
  display: grid;
  place-items: center;
  font-family: monospace;
  text-align: center;
}

.divMe h1 {
  font-size: 3em;
  border-bottom: 1px solid white;
}

@media screen and (min-width: 330px) {
  .vline {
    height: 170px;
  }
  .divMe h1 {
    margin-top: 50px;
  }
}

.divMe h3 {
  font-size: 1.8em;
}

@media screen and (min-width: 398px) {
  .divMe h3 {
    margin-bottom: 1em;
  }
}

.divTypewriter {
  text-align: center;
}

.pTypewriter {
  font-size: 1.5em;
}

.divButtonStart {
  text-align: center;
}

.buttonStart {
  background-color: #af2626;
  padding: 5px;
  border-radius: 10px;
  width: 100px;
  margin-top: 10px;
  font-weight: 600;
  transition: 0.7s;
}

.buttonStart:hover {
  background-color: white;
  color: #af2626;
}

@media screen and (max-width: 340px) {
  .buttonStart {
    margin-top: 10px;
  }
}

.divButtons {
  width: 200px;
  display: flex;
}

.divButtons button {
  margin: 10px;
}

.resumeButton {
  background-color: #af2626;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 50px;
  font-weight: 600;
  transition: 0.7s;
}

.resumeButton:hover {
  background-color: white;
  color: #af2626;
}

.gitHubButton {
  padding: 5px;
  border-radius: 10px;
  transition: 0.7s;
}

.gitHubButton:hover {
  background-color: #af2626;
}

.linkedinButton {
  padding: 8px;
  border-radius: 10px;
  transition: 0.7s;
}

.linkedinButton:hover {
  background-color: #af2626;
}

/* @import url(https://fonts.googleapis.com/css?family=Varela+Round); */

/* body {
  background: hsla(0, 0%, 0%, 0.9);
} */

.musicOn {
  /* background-color: red; */
  color: hsla(0, 0%, 0%, 0.9);
  font: normal 140px Varela Round, sans-serif;
  /* height: 140px; */
  left: 0;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  width: 100%;
  animation: move linear 2000ms infinite;
}

@keyframes move {
  0% {
    text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1), 2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }
  25% {
    text-shadow: -4px -4px 0 hsla(180, 100%, 50%, 1),
      -3px -3px 0 hsla(180, 100%, 50%, 1), -2px -2px 0 hsla(180, 100%, 50%, 1),
      -1px -1px 0 hsla(180, 100%, 50%, 1), 4px 4px 0 hsla(0, 100%, 50%, 1),
      3px 3px 0 hsla(0, 100%, 50%, 1), 2px 2px 0 hsla(0, 100%, 50%, 1),
      1px 1px 0 hsla(0, 100%, 50%, 1);
  }
  50% {
    text-shadow: -4px 4px 0 hsla(0, 100%, 50%, 1),
      -3px 3px 0 hsla(0, 100%, 50%, 1), -2px 2px 0 hsla(0, 100%, 50%, 1),
      -1px 1px 0 hsla(0, 100%, 50%, 1), 4px -4px 0 hsla(180, 100%, 50%, 1),
      3px -3px 0 hsla(180, 100%, 50%, 1), 2px -2px 0 hsla(180, 100%, 50%, 1),
      1px -1px 0 hsla(180, 100%, 50%, 1);
  }
  75% {
    text-shadow: 4px 4px 0 hsla(180, 100%, 50%, 1),
      3px 3px 0 hsla(180, 100%, 50%, 1), 2px 2px 0 hsla(180, 100%, 50%, 1),
      1px 1px 0 hsla(180, 100%, 50%, 1), -4px -4px 0 hsla(0, 100%, 50%, 1),
      -3px -3px 0 hsla(0, 100%, 50%, 1), -2px -2px 0 hsla(0, 100%, 50%, 1),
      -1px -1px 0 hsla(0, 100%, 50%, 1);
  }
  100% {
    text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1), 2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }
}
