.divCard {
  height: 80vh;
  padding: 0 50px;
}

.title {
  font-size: 2em;
  text-align: center;
}

.gitHubIcon {
  margin-top: -40px;
  margin-left: 10%;
  padding: 5px;
  border-radius: 10px;
}

.gitHubIcon:hover {
  background-color: #af2626;
}

@media screen and (max-width: 490px) {
  .head {
    display: grid;
    place-items: center;
  }

  .gitHubIcon {
    margin-top: 0;
    margin-left: 0;
  }
}

.buttonDeploy {
  background-color: #af2626;
  padding: 5px;
  border-radius: 10px;
  width: 100px;
  margin-top: 10px;
}

.divLeft {
  width: 50%;
  margin-top: 20px;
}

.flexDivTechnologiesProjects {
  display: flex;
  justify-content: center;
}

.leftRightDiv {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* background-color: red; */
}

@media screen and (max-width: 965px) {
  .divCard {
    height: 100%;
    background-color: red;
  }

  .divRight {
    background-color: green;
    width: 100vw;
    margin-left: -10px;
    display: block;
  }

  .leftRightDiv {
    /* background-color: blue; */
    justify-content: center;
    flex-wrap: wrap;
  }

  /* .description {
    background-color: yellow;
  } */
  .videoProject {
    width: 100%;
  }

  .divLeft {
    width: 100%;
  }
}

.flexDivTechnologiesProjects img {
  opacity: 0.3;
  margin: 10px;
  transition: translateY, 0.5s;
}

.flexDivTechnologiesProjects img:hover {
  transform: translateY(-10px);
  opacity: 1;
}

.divRight {
  margin-left: 10px;
  /* width: 50%; */
  margin-top: 20px;
  display: grid;
  place-items: center;
  /* background-color: blue; */
}

@media screen and (min-width: 966px) {
  .divRight {
    width: 50%;
  }
}
