.projectsDiv{
    /* background-color: red; */
    height: 500px;
    text-align: center;
    font-family: monospace;
}

.projectsTitle{
    font-size: 2.8em;
}

.nextButton{
    font-size: 2em;
    color: white;
    transition: .5s;
}

.nextButton:hover{
    cursor: pointer;
}

.nextButton:active{
    transform: scale(.5);
}

.previousButton{
    font-size: 2em;
    color: white;
    transition: .5s;
}

.previousButton:hover{
    cursor: pointer;
}

.previousButton:active{
    transform: scale(.5);
}

.divCarrousel{
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}

.currentProjectDiv{
    display: grid;
    place-items: center;
    width: 80%;
    /* background-color: green; */
}

.ProjectName{
    font-size: 2.5em;
    border-bottom: 1px solid white;
}

.projectDescription{
    font-size: 1.5em;
}

.projectTechnologies{
    font-size: 1.5em;
}

.flexDivTechnologiesProject img{
    opacity: .3;
    margin: 5px;
    transition: translateY, .5s;
}

.flexDivTechnologiesProject img:hover{
    transform: translateY(-10px);
    opacity: 1;
}