.projectsDiv{
    /* background-color: red; */
    /* margin-top: 50px; */
    /* height: 500px; */
    text-align: center;
    font-family: monospace;
}

.projectsTitle{
    font-size: 2.8em;
}

.nextButton{
    margin-top: 150px;
    font-size: 2em;
    color: white;
    transition: .5s;
}

.nextButton:hover{
    cursor: pointer;
}

.nextButton:active{
    transform: scale(.5);
}

.previousButton{
    margin-top: 150px;
    font-size: 2em;
    color: white;
    transition: .5s;
}

.previousButton:hover{
    cursor: pointer;
}

.previousButton:active{
    transform: scale(.5);
}

.divCarrousel{
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}

.currentProjectDiv{
    display: grid;
    place-items: center;
    width: 80%;
    /* background-color: green; */
}

.ProjectName{
    font-size: 2.5em;
    border-bottom: 1px solid white;
}

.projectDescription{
    font-size: 1.5em;
    width: 700px;
    margin-bottom: -60px;
    border-bottom: 1px solid white;
}

.projectTechnologies{
    font-size: 1.5em;
    margin-bottom: -60px;
}

.flexDivTechnologiesProject img{
    opacity: .3;
    margin:5px;
    transition: translateY, .5s;
}

.flexDivTechnologiesProject img:hover{
    transform: translateY(-10px);
    opacity: 1;
}

.divCarrousel{
    height: 500px;
}

.imageOfProject{
    opacity: .3;
    transition: .5s;
}

.imageOfProject:hover{
    opacity: 1;
}