.skillsDiv {
  padding-top: 90px;
  text-align: center;
  font-family: monospace;
}

.skillsTitle {
  font-size: 2.8em;
}

.divIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexDivSkills {
  width: 600px;
  margin: 30px 0;
}

.divIconsFront {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.divIconsFront img {
  opacity: 0.3;
  margin: 10px;
  transition: translateY, 0.5s;
}

.titleOfTechnologieType {
  font-size: 1.8em;
}

.divIconsFront img:hover {
  transform: translateY(-10px);
  opacity: 1;
}

.vline {
  border-left: 3px solid #e42929;
  height: 480px;
  left: 50%;
  position: absolute;
  z-index: 0;
}

@media screen and (min-width: 1870px) {
  .vline {
    display: none;
  }
}

@media screen and (max-width: 1265px) {
  .vline {
    display: none;
  }
}
